.darkMode {
    .contact {
        background-color: $color-Dark1;
        .contact__content {
            ul {
                li {
                    color: $white;
                    a{
                        color: $white;
                        &:hover{
                            color:  $primary-5;
                        }
                    }
                }
            }
            .contact__info{
                .form-group{
                .form-control {
                    background: none;
                    border-color:$white ;
                    color: $white;
                }
                .form-label{
                    color: $white;
                    opacity: 1;
                }
            }
            }
        }
    }
}
