.timeline {
    padding-left: 16px;
    padding-bottom: 28px;
    border-left: 1px dashed #aaa;
    position: relative;
    &::before,&::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        transform: translateX(-55%);
        background: #304cfd;
        
    }
    &::before{
        transform: translateX(-55%) scale(1.5);
        background: #94b1f0;
        animation: timeline-dot 3s infinite;
    }
    &:last-child{
        border-left:none ;
    }
}
@keyframes timeline-dot {
    0%{
        transform: translateX(-55%) scale(1.2);
    }
    45%{
        transform: translateX(-55%) scale(1.7);
    }
    60%{
        transform: translateX(-55%) scale(1.9);
    }
    100%{
        transform: translateX(-55%) scale(1.2);
    }
}
