
//color
$primary-1: #513c06;
    $primary-2: #7a5c10;
    $primary-3: #a27c1a;
    $primary-4: #c8992d;
    $primary-5: #e9b949;
    $primary-6: #f7d06e;
    $primary-7: #f9da8b;
    $primary-8: #f8e3a5;
    $primary-9: #fceec5;
    $primary-10: #fffaeb;
    $primary-11: #F3E08F;
    $primary-12:#fbbd61;
    $grey-1: #102a42;
    $grey-2: #243a52;
    $grey-3: #324d67;
    $grey-4: #48647f;
    $grey-5: #617d98;
    $grey-6: #829ab0;
    $grey-7: #9eb2c7;
    $grey-8: #bcccdc;
    $grey-9: #dae2ec;
    $grey-10: #f1f5f8;
    $white: #fff;
    $white-1: #c5c5c5;
    $black:#1d251c;
    $black-1:#333;
    $blue:#3B5998;
    $pink:#e1306c;

    $color-Dark:#072026;
    $color-Dark1:#051418;
    $color-Greydark:#f9efc5;

    $color-primaryDark-1: #efd871;
    $color-primaryDark-2:#a7974e;
//font family
$ffamily:'Gruppo', cursive;
$ffamily-1:'Roboto', sans-serif;
//font-size
$fs-8:8px;
$fs-11:11px;
$fs-14:14px;
$fs-16:16px;

$fs-18:18px;
$fs-20:20px;
$fs-24:24px;

$fs-26:26px;
$fs-28:26px;

$fs-30:30px;
$fs-40:40px;

$fs-60:60px;
$fs-64:64px;

//line-height
$lh-1:1;
$lh-15:1.5;

$lh-2:normal;
$lh-24:24px;
$lh-30:30px;
$lh-125:1.25;
//letter-spacing
$lt-1:1.5;


$lt-025:.25rem;
$lt-05:.05rem;
$lt-015:.15rem;

$lt-2:2px;
$lt-3:3px;
$lt-30:30px;
// font-weight:
$fw-bold:bold;
$fw-400:400;

$fw-500:500;
$fw-600:600;
$fw-700:700;

// padđing
$pd-5:5px;
$pd-6:6px;
$pd-12:12px;
$pd-15:15px;
$pd-20:20px;

$pd-30:30px;
$pd-35:35px;
 $pd-70:70px;
$pd-80:80px;

//magrin
$mg-8:8px;
$mg-12:12px;
$mg-16:16px;
$mg-18:18px;

$mg-20:20px;

$mg-24:24px;
$mg-30:30px;

$mg-35:35px;
$mg-45:45px;
$mg-48:48px;
$mg-60:60px;

$mg-70:70px;
$breakpoints:(
    
    'extra-large':1200px,
    'large':992px,
    'large-900':900px,
    'medium':768px,
    
    'small':576px,
    
)