.protfolio{
    .protfolio__content{
        border-bottom: 1.5px dashed $grey-1;
        
        .protofolio__img{
            position: relative;
            height: 100%;
            
            img{
                height: 100%;
                object-fit: revert;
                object-position:top;
                transition: all 1s;
                filter: brightness(45%) grayscale(1);
            }
           
        }
        .portfolio__info{
            
            .portfolio__title{
            @include styleText($grey-1,$fs-24,$fw-700);
            text-transform: uppercase;
            margin-bottom: $mg-16;
            line-height: $lh-1;
            letter-spacing: $lt-025;
            display: block;
            }
            p{
                @include styleText($grey-1,$fs-20,$fw-400);
                line-height:$lh-15;
                margin: $mg-8 0;
            }
            ul{
                
                padding: $pd-15 + 1;
                li{
                    list-style: square;
                    @include styleText($grey-1,$fs-11,$fw-400);
                    letter-spacing:$lt-015;
                    text-transform:uppercase;
                    line-height: $lh-15;
                }
            }
            .button{
                display: block;
                width: 100%;
                margin: $mg-20 $mg-16 0 0;
                a{
                    font-size: $fs-14;
                }
            }
        }
      &:hover{
        
        img{
           
            filter: brightness(100%) grayscale(0);
        }
      }
    }
}

//REPONSIVE
//992px
@include responsive("large"){
    .protfolio{
        
        .protfolio__content{
            .protofolio__img{
               img{
                object-fit: scale-down;
               }
            }
        }
    }
}
//768px
@include responsive("medium"){
    .protfolio{
        
        .protfolio__content{
            padding:0;
            box-shadow: 0 0 10px 4px #00000066;
               border-bottom: none;
               margin-bottom: $mg-48;
               img{
                border: 0.5px solid white;

               }
               .portfolio__info{
                   padding: $pd-15 + 1;
                   .button--protfolio{
                       display: flex;
                       flex-direction: row;
                   }
                   
                   ul{
                       display: flex;
                       
                       li{
                           margin-right: $mg-35;
                       }
                   }
                  
               }
               .protfolio--even{
                flex-direction: column-reverse;
               }
        }
    }
}